In [47]:
import utils
import pandas as pd

url = 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/'
page_result = utils.get_all_pages(url)
df = utils.to_data_frame(page_result)
# df_subset = df[["insert_time", "sensor_id", "value1", "unit1"]]
# df_subset.head()

In [48]:
df['insert_time'] = df['insert_time'].astype('datetime64[ns]')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3161 entries, 0 to 3160
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   entry_id     3161 non-null   float64
 1   insert_time  3161 non-null   datetime64[ns]
 2   sensor_id    3161 non-null   object
 3   value1       3161 non-null   float64
 4   unit1        3161 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 123.6+ KB

In [58]:
df_pivot = df.pivot_table(index='insert_time', columns=['sensor_id', 'unit1'], values='value1')
df_pivot.columns = df_pivot.columns.to_flat_index()
df_pivot = df_pivot.resample('5Min').mean()

In [59]:
# Different Aggregation each column
df_pivot.head()

,"(CIRCUITPY323d, %)","(CIRCUITPY323d, C)","(CIRCUITPY323d, PPM)","(CIRCUITPY825a, Window)","(RASPBERRYPEOPLE, People)"
insert_time,,,,,
2022-03-24 14:00:00,33.50,26.475000,1069.450000,0.5,3.0
2022-03-24 14:05:00,34.67,26.400000,1125.720000,NaN,NaN
2022-03-24 14:10:00,36.50,26.466667,1272.466667,NaN,NaN
2022-03-24 14:15:00,38.03,26.570000,1440.240000,NaN,NaN
2022-03-24 14:20:00,35.26,26.670000,1299.600000,1.0,NaN