In [1]:
import requests
import pandas as pd

url = 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/'

response_ = requests.get(url)
response_ = response_.json()
print(response_.keys())

dict_keys(['items', 'hasMore', 'limit', 'offset', 'count', 'links'])

In [2]:
response_['hasMore']

True

In [3]:
response_['links']

[{'rel': 'self',
  'href': 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/'},
 {'rel': 'edit',
  'href': 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/'},
 {'rel': 'describedby',
  'href': 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/metadata-catalog/sens/insert/'},
 {'rel': 'first',
  'href': 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/'},
 {'rel': 'next',
  'href': 'https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/?offset=200'}]

In [4]:
for elem in response_['links']:
    for k, v in elem.items():
        pass
        if v == 'next':
            print(elem['href'])

https://glusfqycvwrucp9-db202202211424.adb.eu-zurich-1.oraclecloudapps.com/ords/sensor_datalake1/sens/insert/?offset=200

In [5]:
def get_all_pages(url, liste=[]):
    '''return database items'''
    response_ = requests.get(url)
    response_ = response_.json()
    if response_['hasMore'] != True:
        #liste.append(response_['items'])
        return liste
    else:
        liste.append(response_['items'])
        for elem in response_['links']:
            for k, v in elem.items():
                if v == 'next':
                    new_url = elem['href']
        return get_all_pages(new_url, liste)
result = get_all_pages(url)
#print(result)

In [6]:
def to_data_frame(url_result):
    output = pd.DataFrame()
    for lists in url_result:
        for dicti in lists:
            output = output.append(dicti, ignore_index=True)
    return output
data_frame = to_data_frame(get_all_pages(url))

In [7]:
data_frame.to_excel('db_data.xlsx', index=False)

In [8]:
data_frame.head()

   entry_id               insert_time      sensor_id   unit1  value1
0     838.0  2022-03-17T13:26:08.881Z  CIRCUITPY825a  Window     0.0
1     842.0  2022-03-17T13:26:36.072Z  CIRCUITPY323d       %    34.3
2     847.0  2022-03-17T13:27:06.677Z  CIRCUITPYbec9  Window     0.0
3     853.0  2022-03-17T13:27:57.358Z  CIRCUITPY825a  Window     0.0
4     856.0  2022-03-17T13:28:25.393Z  CIRCUITPYbec9  Window     0.0

In [9]:
data_frame_sorted = data_frame.sort_values(['entry_id'])
data_frame_sorted.head()

     entry_id               insert_time      sensor_id   unit1  value1
126     836.0  2022-03-17T13:26:05.032Z  CIRCUITPY323d       C    25.2
326     836.0  2022-03-17T13:26:05.032Z  CIRCUITPY323d       C    25.2
0       838.0  2022-03-17T13:26:08.881Z  CIRCUITPY825a  Window     0.0
200     838.0  2022-03-17T13:26:08.881Z  CIRCUITPY825a  Window     0.0
373     839.0  2022-03-17T13:26:11.366Z  CIRCUITPYbec9  Window     0.0